<?xml version="1.0" encoding="UTF-8"?>
<sec id="ece32718-sec-0012" class="sec">
 <span class="label" xmlns="http://www.w3.org/1999/xhtml">3.1</span>
 <div class="title" xmlns="http://www.w3.org/1999/xhtml">Spring temperature during study period (2013 and 2014)</div>
 <p xmlns="http://www.w3.org/1999/xhtml">Average spring temperature (March–April) for England in 2013 was 5.1°C, making it the coldest spring for 91 years (see Figure 
  <a rid="ece32718-fig-0002" ref-type="fig" href="#ece32718-fig-0002">2</a>a). In contrast, 2014 spring temperatures were above average (mean = 8.9°C), meaning that the absolute temperature difference between the two springs (3.8°C) was the second largest in the last 350 years, since records began (Figure 
  <a rid="ece32718-fig-0002" ref-type="fig" href="#ece32718-fig-0002">2</a>b). In Wytham, this large between‐year temperature difference was present across the woodland until mid‐April (Figure 
  <a rid="ece32718-fig-0002" ref-type="fig" href="#ece32718-fig-0002">2</a>c). Hence, the two years of this study contrasted markedly in terms of early spring temperature.
 </p>
 <div fig-type="Figure" xml:lang="en" id="ece32718-fig-0002" orientation="portrait" position="float" class="fig" xmlns="http://www.w3.org/1999/xhtml">
  <span class="label">Figure 2</span>
  <div class="caption">
   <p>Climate data: (a) annual fluctuations in mean spring temperatures for England (1660–2014, °C), (b) absolute mean spring temperatures differences for consecutive pairs of years (1660–2014, °C, 
    <span class="italic">N</span> = 355), (c) daily mean temperatures for Wytham Woods from 200 sampling locations (blue = 2013, red = 2014), black lines show woodland‐wide means for the 2 years. Long‐term temperature data shown in (a) and (b) is collected by the Hadley Centre Central Observatory
   </p>
  </div>
  <div id="nlm-graphic-5" xlink:href="ECE3-7-1135-g002" class="graphic" xmlns:xlink="http://www.w3.org/1999/xlink"/>
 </div>
</sec>
