<?xml version="1.0" encoding="UTF-8"?>
<sec id="ece35000-sec-0008" class="sec">
 <span class="label" xmlns="http://www.w3.org/1999/xhtml">2.3.3</span>
 <div class="title" xmlns="http://www.w3.org/1999/xhtml">Spring</div>
 <p xmlns="http://www.w3.org/1999/xhtml">Snowmelt determines when food resources become available (Inouye et al., 
  <a rid="ece35000-bib-0028" ref-type="ref" href="#ece35000-bib-0028">2000</a>; Rezouki et al., 
  <a rid="ece35000-bib-0049" ref-type="ref" href="#ece35000-bib-0049">2016</a>; Vuren &amp; Armitage, 
  <a rid="ece35000-bib-0061" ref-type="ref" href="#ece35000-bib-0061">1991</a>; Walker, 
  <a rid="ece35000-bib-0062" ref-type="ref" href="#ece35000-bib-0062">1968</a>). In years when squirrels emerged long before snowmelt (snow melted late relative to other years), their body mass typically declined before increasing again as food became accessible (Knopf &amp; Balph, 
  <a rid="ece35000-bib-0033" ref-type="ref" href="#ece35000-bib-0033">1977</a>), indicating the importance of spring temperatures as they relate to forage availability and body mass at spring emergence. Since temperatures in year 
  <span class="italic">t</span> could influence survival from 
  <span class="italic">t</span> − 1 to 
  <span class="italic">t</span> or from 
  <span class="italic">t</span> to 
  <span class="italic">t</span> + 1, we considered the maximum temperatures between March 15th and March 31st (per Knopf &amp; Balph, 
  <a rid="ece35000-bib-0033" ref-type="ref" href="#ece35000-bib-0033">1977</a>) in our model selection framework.
 </p>
</sec>
