<?xml version="1.0" encoding="UTF-8"?>
<sec id="s2c" class="sec">
 <div class="title" xmlns="http://www.w3.org/1999/xhtml">Spring Progress and Climatic Data</div>
 <p xmlns="http://www.w3.org/1999/xhtml">The rate of insect development and reproductive maturation during spring is critically determined by ambient temperatures 
  <a rid="pone.0043944-Schwartz1" ref-type="bibr" href="#pone.0043944-Schwartz1">[52]</a>. Daily amount of accumulated heat when the temperature is above a given minimum threshold is often referred to as a “degree-day” (DD). Both insect and plant growth is strongly related to cumulated total of degree days during a period relevant for a given species 
  <a rid="pone.0043944-Schwartz1" ref-type="bibr" href="#pone.0043944-Schwartz1">[52]</a>. We thus employed the cumulated total of DDs at a given date as a measure for general spring progress of the vegetation and of the shrikes’ insect prey 
  <a rid="pone.0043944-Saino1" ref-type="bibr" href="#pone.0043944-Saino1">[53]</a>.
 </p>
 <p xmlns="http://www.w3.org/1999/xhtml">Prey composition of adult and nestling red-backed shrikes is similar and consists mainly of insects, with Orthophera (up to ca. 44% of prey biomass), Coleoptera (up to ca. 23%), and Hymenoptera (2.5–4%) being the most important food items 
  <a rid="pone.0043944-Cramp1" ref-type="bibr" href="#pone.0043944-Cramp1">[50]</a>, 
  <a rid="pone.0043944-Tryjanowski2" ref-type="bibr" href="#pone.0043944-Tryjanowski2">[54]</a>. Minimum temperature threshold for development of most insects lies within a range of 4–11°C, with minimal values recorded for Coleoptera (based on 55 species), Orthopthera (4 species) and Hymenoptera (91 species) of 3.7°C, 4.0°C and 2.4°C, respectively 
  <a rid="pone.0043944-Schwartz1" ref-type="bibr" href="#pone.0043944-Schwartz1">[52]</a>, 
  <a rid="pone.0043944-Nietschke1" ref-type="bibr" href="#pone.0043944-Nietschke1">[55]</a>. Minimum temperature thresholds triggering bud growth, leaf unfolding and other tree phenophases lie somewhat lower than for insect development, within a range of 0–5°C 
  <a rid="pone.0043944-Schwartz1" ref-type="bibr" href="#pone.0043944-Schwartz1">[52]</a>, 
  <a rid="pone.0043944-Chmielewski1" ref-type="bibr" href="#pone.0043944-Chmielewski1">[56]</a>.
 </p>
 <p xmlns="http://www.w3.org/1999/xhtml">Following Schwartz 
  <a rid="pone.0043944-Schwartz1" ref-type="bibr" href="#pone.0043944-Schwartz1">[52]</a>, cumulated total of degree days at hatching day (CDD
  <sub>HD</sub>) for each nest in each year and at each site was calculated as a sum of the differences in mean daily temperatures and minimal developmental threshold temperature of 0°C from the start of the calculation period (1 January) to hatching date. We considered minimum threshold temperatures of 0, 2, 4, 10°C in analysed models but only present the best fitting model with threshold of 0°C. In central Europe, 1 January is relevant as a starting date for tree and even some Hymenoptera prey development and it is also used when there is no clear phenological event to start calculation from 
  <a rid="pone.0043944-Schwartz1" ref-type="bibr" href="#pone.0043944-Schwartz1">[52]</a>, 
  <a rid="pone.0043944-Chmielewski1" ref-type="bibr" href="#pone.0043944-Chmielewski1">[56]</a>, 
  <a rid="pone.0043944-Sparks1" ref-type="bibr" href="#pone.0043944-Sparks1">[57]</a>. Mean daily temperatures at each study site were obtained from the respective closest meteorological stations (Praha-Libuš, ca. 7 km from site A; Neumětely, ca. 24 km from site B; Holovousy, ca. 19 km from site C; and Přerov, ca. 33 km from site D and Vsetín at site D). Mean May temperatures (T
  <sub>MAY</sub> hereafter), i.e. temperatures during the time when the onset of breeding takes place, were also obtained. All climatic data were provided by the Czech Hydrometeorological Institute and the Research and Breeding Institute of Pomology Holovousy Ltd.
 </p>
</sec>
