<?xml version="1.0" encoding="UTF-8"?>
<sec class="sec">
 <div class="title" xmlns="http://www.w3.org/1999/xhtml">Spring temperature and precipitation data</div>
 <p xmlns="http://www.w3.org/1999/xhtml">Spring temperature and precipitation data were obtained from the British Atmospheric Data Centre. We used the “Met Office – MIDAS Land Surface Stations data (1853–current)” data set to calculate the mean average of the maximum and minimum daily temperatures and the mean average amount of precipitation, from the nearest available (10.75 ± 5.17 km) meteorological stations to each of the study sites. Common Blackbirds at lower latitudes breed earlier than Common Blackbirds at higher latitudes (Snow 
  <a rid="b36" ref-type="bibr" href="#b36">1958a</a>; Cramp 
  <a rid="b6" ref-type="bibr" href="#b6">1988</a>), and so data were obtained for 8 week/56 day periods beginning on April 1, 7, 14, and 21 for the Penryn, Shrewsbury, Lancaster, and Aberdeen study sites, respectively.
 </p>
</sec>
